<div>
  <h2> User Details</h2>
  <mat-card-content>
  <button mat-raised-button (click)="addUser()" color="primary"> Add User</button>
  <!--<app-root></app-root>-->
  <table mat-table class="mat-elevation-z8" [dataSource]="users" width="80%">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{users.indexOf(user)+1}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.age}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button color="primary" focusable="false" (click)="editUser(user)">Edit
          <i class="fa fa-pencil mat-icon"></i>
        </button>
        <button mat-icon-button color="warn" focusable="false" (click)="deleteUser(user)">Delete
          <i class="fa fa-times mat-icon"></i>
        </button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <button mat-raised-button color="primary" (click)="logout()"> Logout</button>
  </mat-card-content>
</div>
